DjangoSECRET_KEY='YOUR_SECRET_HERE'

DEBUG=True

DatabaseDB_NAME='waitlist_database_name_here'
DB_USER='username'
DB_PASSWORD='password'
DB_HOST='127.0.0.1'
DB_PORT='3306'

ESI_SSO_CLIENT_ID='CLIENT_ID'
ESI_SSO_CLIENT_SECRET='CLIENT_SECRET'
ESI_USER_CONTACT_EMAIL='email@example.com'